<div class="row">
  <div class="col-sm-9">
    <h2> Questions </h2>
      <questions-component></questions-component>
  </div>
  <div class="col-sm-3">
    <questions-nav-component></questions-nav-component>
  </div>
</div>