<section class="question-section">
<h2>{{questionNumber}}</h2>
</section>
<section class="nav-section">
  <div class="row">
    <span class="col-sm-4">
      <button class="nav-btn" (click)="updateQuestionFromScreen(false)">
        Previous Question
      </button>
    </span>
    <span class="col-sm-4" (click)="updateQuestionFromScreen()">
      <button class="nav-btn">
        Submit
      </button>
    </span>
    <span class="col-sm-4">
      <button class="nav-btn" (click)="updateQuestionFromScreen(true)">
        Next Question
      </button>
    </span>

  </div>
</section>