.question-nav-panel{
  background-color: lightskyblue;
  height: 100%;
}
.question-btn{
  background-color: #fff;
  border: 1px solid;
  width: 50px;
  margin: 4px;
}
.selected-question{
  color: red;
}