<div class="row question-nav-panel">
  <span class="col-sm-3" *ngFor="let question of questionList">
    <button class="btn question-btn" [ngClass]="{'selected-question': question===questionNumber}" (click)="questionClicked(question)">{{question}}</button>
  </span>
</div>