<form [formGroup]="passwordform" *ngIf="isPasswordDisplay" (ngSubmit)="onPasswordSubmit(passwordform.value)">
  <div>
   <h2>
     Please Create a password
  </h2>
  </div>
  <div class="ui-grid-row">
      <div class="ui-grid-col-2">
          Password *:
      </div>
      <div class="ui-grid-col-6">
          <input pInputText type="password" formControlName="password" placeholder="Required - Min(6)"/>
      </div>
      <div class="ui-grid-col-4">
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!passwordform.controls['password'].valid&&passwordform.controls['password'].dirty">
              <i class="fa fa-close"></i>
              <span *ngIf="passwordform.controls['password'].errors['required']">Password is required</span>
              <span *ngIf="passwordform.controls['password'].errors['minlength']">Must be longer than 6 characters</span>
          </div>
      </div>
  </div>
  <div class="ui-grid-row">
      <div class="ui-grid-col-2">
          Confirm Password *:
      </div>
      <div class="ui-grid-col-6">
          <input pInputText type="password" formControlName="confirmPassword" placeholder="Required - Min(6)"/>
      </div>
      <div class="ui-grid-col-4">
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!passwordform.controls['confirmPassword'].valid&&passwordform.controls['confirmPassword'].dirty">
              <i class="fa fa-close"></i>
              <span *ngIf="passwordform.controls['password']!==passwordform.controls['confirmPassword']">Passwords are not matching</span>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-6">
          <button pButton type="submit" label="Submit" [disabled]="!passwordform.valid"></button>
      </div>
      <div class="col-sm-4"></div>
  </div>
  <div style="text-align:center;margin-top:20px" *ngIf="submitted">
      Information Submitted
      <br>
  </div>
</form>


<form [formGroup]="userform" *ngIf="isUserFormDisplay" (ngSubmit)="onUserFormSubmit(userform.value)">
  <p-panel header="User Info">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Name *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="text" formControlName="name" placeholder="Required"/>
                </div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['name'].valid&&userform.controls['name'].dirty">
                        <i class="fa fa-close"></i>
                        Name is mandatory
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Select College *:
                </div>
                <div class="ui-grid-col-6">
                    <p-dropdown [options]="collegeList" optionLabel="name" formControlName="college" filter="true" placeholder="Select the College" [autoWidth]="true"></p-dropdown>
                </div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['college'].valid&&userform.controls['college'].dirty">
                        <i class="fa fa-close"></i>
                        College Selection is mandatory
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"></div>
                <div class="ui-grid-col-6">
                    <button pButton type="submit" label="Submit" [disabled]="!userform.valid"></button>
                </div>
                <div class="ui-grid-col-4"></div>
            </div>
            <div style="text-align:center;margin-top:20px" *ngIf="submitted">
                Information Submitted
                <br>
            </div>
        </div>
    </p-panel>
</form>