<div class="panel panel-default">
    <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-home"></i> Home</h3>
    </div>
    <div class="panel-body">
        <h1>Welcome to Product Catalogue!</h1>
        <login-component></login-component>
    </div>
</div>